<pri-feature-header [infos]="infos"></pri-feature-header>

<section class="page-content u-animatedFadeIn">
	<section class="contentSection">
		<h2>Borders</h2>
		<h4>All</h4>
		<p>
			<code class="code">u-borderReset</code>
		</p>
		<h4>Bottom</h4>
		<p>
			<code class="code">u-borderBottomReset</code>
		</p>
		<h4>Top</h4>
		<p>
			<code class="code">u-borderTopReset</code>
		</p>
		<h4>Right</h4>
		<p>
			<code class="code">u-borderRightReset</code>
		</p>
		<h4>Left</h4>
		<p>
			<code class="code">u-borderLeftReset</code>
		</p>

		<h2>Display</h2>
		<h4>Block</h4>
		<p>
			<code class="code">u-displayBlock</code>
		</p>
		<h4>Inline-block</h4>
		<p>
			<code class="code">u-displayInlineBlock</code>
		</p>
		<h4>Flex</h4>
		<p>
			<code class="code">u-displayFlex</code>
		</p>
		<h4>Inline-flex</h4>
		<p>
			<code class="code">u-displayInlineFlex</code>
		</p>
		<h4>None</h4>
		<p>
			<code class="code">u-displayNone</code>
		</p>
		

		<h2>Margins</h2>
		<h4>All</h4>
		<p>
			<code class="code">u-marginReset</code>
			<code class="code">u-marginAuto</code>
			<code class="code">u-marginSmaller</code>
			<code class="code">u-marginSmall</code>
			<code class="code">u-marginStandard</code>
			<code class="code">u-marginBig</code>
			<code class="code">u-marginBigger</code>
			<code class="code">u-marginBiggest</code>
		</p>
		<h4>Bottom</h4>
		<p>
			<code class="code">u-marginBottomReset</code>
			<code class="code">u-marginBottomAuto</code>
			<code class="code">u-marginBottomSmaller</code>
			<code class="code">u-marginBottomSmall</code>
			<code class="code">u-marginBottomStandard</code>
			<code class="code">u-marginBottomBig</code>
			<code class="code">u-marginBottomBigger</code>
			<code class="code">u-marginBottomBiggest</code>
		</p>
		<h4>Top</h4>
		<p>
			<code class="code">u-marginTopReset</code>
			<code class="code">u-marginTopAuto</code>
			<code class="code">u-marginTopSmaller</code>
			<code class="code">u-marginTopSmall</code>
			<code class="code">u-marginTopStandard</code>
			<code class="code">u-marginTopBig</code>
			<code class="code">u-marginTopBigger</code>
			<code class="code">u-marginTopBiggest</code>
		</p>
		<h4>Right</h4>
		<p>
			<code class="code">u-marginRightReset</code>
			<code class="code">u-marginRightAuto</code>
			<code class="code">u-marginRightSmaller</code>
			<code class="code">u-marginRightsmall</code>
			<code class="code">u-marginRightstandard</code>
			<code class="code">u-marginRightbig</code>
			<code class="code">u-marginRightbigger</code>
			<code class="code">u-marginRightbiggest</code>
		</p>
		<h4>Left</h4>
		<p>
			<code class="code">u-marginLeftReset</code>
			<code class="code">u-marginLeftAuto</code>
			<code class="code">u-marginLeftSmaller</code>
			<code class="code">u-marginLeftSmall</code>
			<code class="code">u-marginLeftStandard</code>
			<code class="code">u-marginLeftBig</code>
			<code class="code">u-marginLeftBigger</code>
			<code class="code">u-marginLeftBiggest</code>
		</p>
	</section>

	<section class="contentSection">
		<h2>Flex</h2>
		<h4>Direction</h4>
		<p>
			<code class="code">u-flexDirectionColumn</code>
			<code class="code">u-flexDirectionColumnReverse</code>
			<code class="code">u-flexDirectionRow</code>
			<code class="code">u-flexDirectionRowReverse</code>
		</p>
		<h4>Wrap</h4>
		<p>
			<code class="code">u-flexWrapWrap</code>
			<code class="code">u-flexWrapNoWrap</code>
			<code class="code">u-flexWrapReverse</code>
		</p>
		<h4>Justify Content</h4>
		<p>
			<code class="code">u-justifyContentFlexStart</code>
			<code class="code">u-justifyContentFlexEnd</code>
			<code class="code">u-justifyContentCenter</code>
			<code class="code">u-justifyContentSpaceAround</code>
			<code class="code">u-justifyContentSpaceBetween</code>
			<code class="code">u-justifyContentSpaceEvenly</code>
		</p>
		<h4>Align Items</h4>
		<p>
			<code class="code">u-alignItemsFlexStart</code>
			<code class="code">u-alignItemsFlexEnd</code>
			<code class="code">u-alignItemsBaseline</code>
			<code class="code">u-alignItemsCenter</code>
			<code class="code">u-alignItemsStretch</code>
		</p>
		<h4>Align Self</h4>
		<p>
			<code class="code">u-alignSelfFlexStart</code>
			<code class="code">u-alignSelfFlexEnd</code>
			<code class="code">u-alignSelfBaseline</code>
			<code class="code">u-alignSelfCenter</code>
			<code class="code">u-alignSelfStretch</code>
		</p>
		<h4>Flex Grow/Shrink</h4>
		<p>
			<code class="code">u-flexGrow0</code>
			<code class="code">u-flexGrow1</code>
			<code class="code">u-flexShrink0</code>
			<code class="code">u-flexShrink1</code>
		</p>
		<h4>Flex Basis</h4>
		<p>Vous pouvez utiliser u-flexBasis[0-12] pour vous baser sur une grille de 12</p>
		<p>
			<code class="code">u-flexBasis0</code>
			<code class="code">u-flexBasis1</code>
			<code class="code">u-flexBasisAuto</code>
		</p>
		<h4>Order</h4>
		<p>
			<code class="code">u-order1</code>
			<code class="code">u-order-1</code>
		</p>

	</section>

	<section class="contentSection">
		<h2>Paddings</h2>
		<h4>All</h4>
		<p>
			<code class="code">u-paddingReset</code>
			<code class="code">u-paddingSmaller</code>
			<code class="code">u-paddingSmall</code>
			<code class="code">u-paddingStandard</code>
			<code class="code">u-paddingBig</code>
			<code class="code">u-paddingBigger</code>
			<code class="code">u-paddingBiggest</code>
		</p>
		<h4>Bottom</h4>
		<p>
			<code class="code">u-paddingBottomReset</code>
			<code class="code">u-paddingBottomSmaller</code>
			<code class="code">u-paddingBottomSmall</code>
			<code class="code">u-paddingBottomStandard</code>
			<code class="code">u-paddingBottomBig</code>
			<code class="code">u-paddingBottomBigger</code>
			<code class="code">u-paddingBottomBiggest</code>
		</p>
		<h4>Top</h4>
		<p>
			<code class="code">u-paddingTopReset</code>
			<code class="code">u-paddingTopSmaller</code>
			<code class="code">u-paddingTopSmall</code>
			<code class="code">u-paddingTopStandard</code>
			<code class="code">u-paddingTopBig</code>
			<code class="code">u-paddingTopBigger</code>
			<code class="code">u-paddingTopBiggest</code>
		</p>
		<h4>Right</h4>
		<p>
			<code class="code">u-paddingRightReset</code>
			<code class="code">u-paddingRightSmaller</code>
			<code class="code">u-paddingRightSmall</code>
			<code class="code">u-paddingRightStandard</code>
			<code class="code">u-paddingRightBig</code>
			<code class="code">u-paddingRightBigger</code>
			<code class="code">u-paddingRightBiggest</code>
		</p>
		<h4>Left</h4>
		<p>
			<code class="code">u-paddingLeftReset</code>
			<code class="code">u-paddingLeftSmaller</code>
			<code class="code">u-paddingLeftSmall</code>
			<code class="code">u-paddingLeftStandard</code>
			<code class="code">u-paddingLeftBig</code>
			<code class="code">u-paddingLeftBigger</code>
			<code class="code">u-paddingLeftBiggest</code>
		</p>
	</section>

	<section class="contentSection">
		<h2>Reset</h2>
		<p>Vous pouvez réinitialiser l’affichage des listes et des boutons.</p>

		<ul class="u-listReset">
			<li>u-listReset</li>
			<li><button class="u-buttonReset">u-buttonReset</button></li>
		</ul>

		<code class="code">u-buttonReset</code>
		<code class="code">u-listReset</code>

	</section>

	<section class="contentSection">
		<h2>Listes séparée par des virgules</h2>
		<p>Rajouter la classe <code class="code">u-comma</code> vous permet d'ajouter une virgule à un élément si ce n'est pas le dernier d'une liste</p>

		<ul class="u-listReset u-displayFlex">
			<li class="u-comma">élément 1</li>
			<li class="u-comma">élément 2</li>
		</ul>
	</section>

	<section class="contentSection">
		<h2>Float</h2>
		<p>Vous pouvez changer l'alignement des contenus de type block.</p>
		<p class="u-left"><code class="code">u-left</code></p>
		<p class="u-right"><code class="code">u-right</code></p>
		<div class="u-clear"></div>

		Vous pouvez stopper le float en utilisant <code class="code">&lt;div class="u-clear"&gt;&lt;/div&gt;</code>

	</section>

	<section class="contentSection">
		<h2>Alignements</h2>
		<p>Vous pouvez changer l'alignement des contenus de type inline.</p>
		<p class="u-textLeft"><code class="code">u-textLeft</code></p>
		<p class="u-textCenter"><code class="code">u-textCenter</code></p>
		<p class="u-textRight"><code class="code">u-textRight</code></p>
	</section>

	<section class="contentSection">
		<h2>Alignement vertical</h2>
		<p>Vous pouvez changer l'alignement vertical de certains contenus.</p>
		<p class="u-middle"><code class="code">u-middle</code></p>
	</section>

	<section class="contentSection">
		<h2>Taille de texte</h2>
		<p class="demo-textSeparator">
			<span class="u-textSmaller">smaller</span>
			<span class="u-textSmall">small</span>
			<span class="u-textStandard">standard</span>
			<span class="u-textBig">big</span>
			<span class="u-textBigger">bigger</span>
			<span class="u-textBiggest">biggest</span>
		</p>
		<p>
			<code class="code">u-textSmaller</code>
			<code class="code">u-textSmall</code>
			<code class="code">u-textStandard</code>
			<code class="code">u-textBig</code>
			<code class="code">u-textBigger</code>
			<code class="code">u-textBiggest</code>
		</p>
	</section>

	<section class="contentSection">
		<h2>Couleur de texte</h2>
		<p class="demo-textSeparator">
			<span class="u-textDefault">Default</span>
			<span class="u-textLight">Light</span>
			<span class="u-textPlaceholder">Placeholder</span>
			<span class="u-textPrimary">Primary</span>
			<span class="u-textSecondary">Secondary</span>
			<span class="u-textSuccess">Success</span>
			<span class="u-textWarning">Warning</span>
			<span class="u-textError">Error</span>
		</p>
		<p>
			<code class="code">u-textDefault</code>
			<code class="code">u-textLight</code>
			<code class="code">u-textPlaceholder</code>
			<code class="code">u-textPrimary</code>
			<code class="code">u-textSecondary</code>
			<code class="code">u-textSuccess</code>
			<code class="code">u-textWarning</code>
			<code class="code">u-textError</code>
		</p>
		<div class="callout mod-icon palette-info">
			<div class="callout-icon"><span aria-hidden="true" class="lucca-icon">info</span></div>
			Les couleurs de votre palette sont éditables via votre <a href="https://github.com/LuccaSA/lucca-front/#palettes" target="_blank">thème</a>
		</div>
	</section>

	<section class="contentSection">
		<h2>Whitespace</h2>
		<p>Vous pouvez empêcher le retour à la ligne. Cela peut être utile pour forcer l'affichage en une ligne dans un tableau.</p>
		<p>
			<code class="code">u-nowrap</code>
		</p>

		<p>Vous pouvez autoriser les retours à la ligne. Cela peut être utilisé en surcharge de la classe .button.</p>
		<p>
			<code class="code">u-wrap</code>
		</p>
	</section>

	<section class="contentSection">
		<h2>Font style et weight</h2>
		<p>Vous pouvez changer la graisse et le style des textes avec ces classes atomiques :</p>
		<p>
			<code class="code">u-fontStyleNormal</code>
			<code class="code">u-fontStyleItalic</code>
		</p>
		<p>
			<code class="code">u-fontWeightRegular</code>
			<code class="code">u-fontWeightBold</code>
		</p>
	</section>

	<section class="contentSection">
		<h2>Text decoration</h2>
		<p>Les décorations de texte peuvent être modifiées avec :</p>
		<p>
			<span class="u-textDecorationNone">None</span>
			<span class="u-textDecorationUnderline">Underlined</span>
			<span class="u-textDecorationLineThrough">Striked</span>
		</p>
		<p>
			<code class="code">u-textDecorationNone</code>
			<code class="code">u-textDecorationUnderline</code>
			<code class="code">u-textDecorationLineThrough</code>
		</p>
		<div class="callout mod-icon palette-info">
			<div class="callout-icon">
				<span aria-hidden="true" class="lucca-icon icon-info"></span>
			</div>
			Attention à faire la distinction entre les styles visuels et la sémantique en utilisant les bons éléments HTML si nécessaire :
			<code class="code">&lt;a href="#"&gt;link&lt;/a&gt;</code>, <code class="code">&lt;s&gt;delete&lt;/s&gt;</code> and <code class="code">&lt;ins&gt;new&lt;/ins&gt; &lt;del&gt;old&lt;/del&gt;</code>.		
		</div>
	</section>

	<section class="contentSection">
		<h2>Ellipse</h2>
		<p>Vous pouvez utiliser une ellipse pour cacher une partie du texte. Vous aurez peut être à définir une largeur à coté conteneur.</p>

		<div class="u-ellipsis" style="width:200px">Cotton candy cupcake sweet roll. Oat cake jelly chocolate carrot cake cotton candy macaroon croissant.</div>
		<p>
			<code class="code">u-ellipsis</code>
		</p>
	</section>

	<section class="contentSection">
		<h2>Unités</h2>
		<p>Vous pouvez formater les unités.</p>
		<p style="font-size: 3rem">75 <span class="u-unit">%</span></p>
		<p style="font-size: 2rem">75 <span class="u-unit">%</span></p>
		<p style="font-size: 1.5rem">75 <span class="u-unit">%</span></p>
		<code class="code">u-unit</code>
	</section>

	<section class="contentSection">
		<h2>Ombres</h2>
		<p>Vous pouvez utiliser ces utilities pour ajouter les différents niveau d'élévation (1-6).</p>

		<div class="u-elevate1" style="width:200px">u-elevate1</div>
		<div class="u-elevate2" style="width:200px">u-elevate2</div>
		<div class="u-elevate3" style="width:200px">u-elevate3</div>
		<div class="u-elevate4" style="width:200px">u-elevate4</div>
		<div class="u-elevate5" style="width:200px">u-elevate5</div>
		<div class="u-elevate6" style="width:200px">u-elevate6</div>
	</section>

	<section class="contentSection">
		<h2>Spin Buttons</h2>
		<p>Vous pouvez retirer les flèches incrémentales d'un input number.</p>
		<div class="form-group">
			<div>
				<label class="textfield mod-inline">
					<input class="textfield-input" type="number" value="1234">
					<span class="textfield-label">Spin buttons</span>
				</label>
			</div>
			<div>
				<label class="textfield mod-inline">
					<input class="textfield-input u-noSpinButtons" type="number" value="1234">
					<span class="textfield-label">Pas de spin buttons</span>
				</label>
			</div>
		</div>
		<code class="code">u-noSpinButtons</code>
	</section>

	<section class="contentSection">
		<h2>Masquage</h2>
		<p>Pour masquer un élément visuellement sans le supprimer de la couche sémantique. Ceci est très souvent utilisé pour aider à rendre accessible des contenus.</p>
		<p>Un,  <span class="u-mask">deux,</span> trois, <span class="u-mask">quatre,</span> et cinq.</p>
		<code class="code">u-mask</code>
	</section>

	<section class="contentSection">
		<h2>Aide</h2>
		<p>Cet utilitaire permet de créer le style et l'espacement nécessaire aux icônes d'aide inline</p>
		<p>J'ai besoin d'aide <span class="lucca-icon icon-help u-help" aria-hidden="true"></span><span class="u-mask">Infos supplémentaire</span></p>
		<code class="code">u-help</code>
	</section>

	<section class="contentSection">
		<h2>Pointer events</h2>
		<p>
			Il est possible d'activer ou désactiver la gestion des événements de la souris.
		</p>
		<p>
			<code class="code">u-pointerEventsNone</code>
			<code class="code">u-pointerEventsAuto</code>
		</p>
	</section>
</section>
