<pri-feature-header [infos]="infos"></pri-feature-header>
<section class="page-content u-animatedFadeIn">
	<section class="contentSection">
		<div class="grid">
      <div class="grid-md3 grid-lg4">
        <a href="/components/templates/2-columns-sticky" class="card mod-clickable">
					<img class="guidelines-visual" src="guidelines/components/templates/2-columns-sticky/images/thumbnail.png">
          <div class="card-content">
            <h3>2 colonnes sticky</h3>
            <div>Page à 2 colonnes dont l'une reste dockée.</div>
          </div>
        </a>
      </div>
			<div class="grid-md3 grid-lg4">
        <a href="/components/templates/level-2-horizontal-navigation" class="card mod-clickable">
					<img class="guidelines-visual" src="guidelines/components/templates/level-2-horizontal-navigation/images/thumbnail.png">
          <div class="card-content">
            <h3>Navigation niveau 2 horizontale</h3>
            <div>Page permettant de découper une page complète en plusieurs sections.</div>
          </div>
        </a>
      </div>
      <div class="grid-md3 grid-lg4">
        <a href="/components/templates/list-filter-create" class="card mod-clickable">
					<img class="guidelines-visual" src="guidelines/components/templates/list-filter-create/images/thumbnail.png">
          <div class="card-content">
            <h3>Lister, filtrer & créer</h3>
            <div>Page listant divers objets accessibles au clic.</div>
          </div>
        </a>
      </div>
    </div>
  </section>
	<hr class="u-marginBottomBig">
	<section class="titleSection">
		<h2>Anciens templates</h2>
		<div class="u-textLight">Cette section présente les anciens templates Lucca. Ils sont voués à être remplacés petit à petit par des templates plus spécifiques.</div>
	</section>
	<div class="grid">
		<div class="grid-xs6">
			<h3>Avec menu vertical</h3>
			<ul>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/fullmenu.html" target="_blank">Menu large</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/full-withBanner.html" target="_blank">Menu large avec bannière</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side.html" target="_blank">Menu compact</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/compact-withBanner.html" target="_blank">Menu compact avec bannière</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-cards.html" target="_blank">Menu compact avec cards</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-sections.html" target="_blank">Menu compact avec sections</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-header.html" target="_blank">Menu compact avec header</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-header-nav.html" target="_blank">Menu compact avec header & navigation</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-sections-header.html" target="_blank">Menu compact avec sections & header</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/side-filters.html" target="_blank">Menu compact avec filtres</a></li>
			</ul>
		</div>
		<div class="grid-xs6">
			<h3>Sans menu vertical</h3>
			<ul>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside.html" target="_blank">Basique</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-cards.html" target="_blank">Avec cards</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-sections.html" target="_blank">Avec sections</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-header.html" target="_blank">Avec header</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-header-nav.html" target="_blank">Avec header & navigation</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-sections-header.html" target="_blank">Avec sections & header</a></li>
				<li><a href="https://latest-lucca-front-luccasa.surge.sh/scss/templates/noside-filters.html" target="_blank">Avec filtres</a></li>
			</ul>
		</div>
	</div>
	<div class="callout mod-icon palette-info u-marginTopStandard">
		<div class="callout-icon"><i class="lucca-icon">info</i></div>
		Par défaut, le layout est automatiquement géré grâce aux sélecteurs de proximité entre <code class="code">.navSide</code> et <code class="code">.mainContent</code>. En cas d'impossibilité de placer ces deux composants côte à côte, il est possible d'utiliser les classes <code class="code">.mod-withMenu</code> et <code class="code">.mod-withMenuCompact</code> sur un parent de <code class="code">.main-content</code> pour lui donner la bonne mise en forme.
	</div>
</section>
