<pri-feature-header [infos]="infos"></pri-feature-header>
<section class="page-content u-animatedFadeIn">
	<section class="contentSection">
		<div class="grid">
      <div class="grid-lg3 grid-md4">
        <a href="/components/templates/2-columns-sticky" class="card mod-clickable">
					<img class="guidelines-visual" src="guidelines/components/templates/2-columns-sticky/images/thumbnail.png">
          <div class="card-content">
            <h3>2 colonnes sticky</h3>
            <div>Template à 2 colonnes dont l'une reste dockée.</div>
          </div>
        </a>
      </div>
      <div class="grid-lg3 grid-md4">
        <a href="/components/templates/list-filter-create" class="card mod-clickable">
					<img class="guidelines-visual" src="guidelines/components/templates/list-filter-create/images/thumbnail.png">
          <div class="card-content">
            <h3>Lister, filtrer & créer</h3>
            <div>Template listant divers objets accessibles au clic.</div>
          </div>
        </a>
      </div>
    </div>
  </section>
</section>
