<pri-feature-header [infos]="infos"></pri-feature-header>
<section class="page-content u-animatedFadeIn">
	<section class="contentSection">
		<div class="grid">
      <div class="grid-md4">
        <a href="/components/templates/2-columns-sticky" class="card mod-clickable">
          <div class="card-content">
            <h3>2 colonnes sticky</h3>
            <div>Description</div>
            <div>(Visuel)</div>
          </div>
        </a>
      </div>
      <div class="grid-md4">
        <a href="/components/templates/list-filter-create" class="card mod-clickable">
          <div class="card-content">
            <h3>Lister, filtrer & créer</h3>
            <div>Description</div>
            <div>(Visuel)</div>
          </div>
        </a>
      </div>
    </div>
  </section>
</section>
