<pri-header></pri-header>
<div class="container mod-center mod-l u-paddingBottomBig u-paddingTopBiggest">
	<div class="splash-illu"></div>
	<div class="splash-content">
		<h1 class="splash-title mod-headline">Prisme, le design façon Lucca</h1>
		<div class="splash-description">
			Notre design system vous permet de construire des expériences riches en vous appuyant sur des composants et des bonnes pratiques
			qui traduisent les principes de Lucca.
		</div>
	</div>

	<img class="splash-image">

	<div class="grid">
		<div class="grid-l4">
			<a routerLink="/principles" class="card mod-clickable mod-principles">
				<div class="card-content">
					<div class="splash-card-icon"><span aria-hidden="true" class="lucca-icon icon-heart"></span></div>
					<h3>Principes</h3>
					<div class="u-textLight u-textSmall">Découvrez les lignes directrices de notre vision du design chez Lucca.</div>
				</div>
			</a>
		</div>
		<div class="grid-l4">
			<a target="_blank" rel="noopener" href="https://design.lucca.fr/" class="card mod-clickable mod-identity">
				<div class="card-content">
					<div class="splash-card-icon"><span aria-hidden="true" class="lucca-icon icon-palette"></span></div>
					<h3>Identité marque <span aria-hidden="true" class="lucca-icon icon-outside size-small"></span><span class="u-mask">le lien va s'ouvrir dans une nouvelle page</span></h3>
					<div class="u-textLight u-textSmall">Comprenez les éléments de notre charte et apprenez à communiquer par l'image.</div>
				</div>
			</a>
		</div>
		<div class="grid-l4">
			<a routerLink="/components" class="card mod-clickable mod-components">
				<div class="card-content">
					<div class="splash-card-icon"><span aria-hidden="true" class="lucca-icon icon-puzzle"></span></div>
					<h3>Composants</h3>
					<div class="u-textLight u-textSmall">Parcourez nos composants SASS et Angular et apprenez à les utiliser dans vos applications.</div>
				</div>
			</a>
		</div>
	</div>
</div>
