<div class="filters mod-sticky">
	<div class="filters-sectionLeft">
		<div class="filters-item">
			<div class="textfield mod-framed">
				<input class="textfield-input" id="textfieldID" type="text" value="Tous les collaborateurs" placeholder="placeholder">
				<label class="textfield-label" for="textfieldID">Collaborateurs</label>
			</div>
		</div>
	</div>
	<div class="filters-sectionLeft">
		<div class="checkbox mod-inline">
			<input class="checkbox-input" type="checkbox" id="checkboxID">
			<label class="checkbox-label" for="checkboxID">Option</label>
		</div>
	</div>
	<div class="filters-sectionRight">
		<div class="filters-item">
			<div class="textfield mod-framed">
				<input class="textfield-input" id="textfieldID" type="text" value="Tous" placeholder="placeholder">
				<label class="textfield-label" for="textfieldID">Entités légales</label>
			</div>
		</div>
	</div>
</div>
