<table class="table">
	<thead class="table-head">
		<tr class="table-head-row">
			<th class="table-head-row-cell">Label</th>
			<th class="table-head-row-cell">Label</th>
			<th class="table-head-row-cell">Label</th>
		</tr>
	</thead>
	<tbody class="table-body">
		<tr class="table-body-row mod-filters">
			<td class="table-body-row-cell">
				<div class="textfield mod-search mod-block">
					<input class="textfield-input" type="text" placeholder="Rechercher">
				</div>
			</td>
			<td class="table-body-row-cell">
				<div class="textfield mod-search mod-block">
					<input class="textfield-input" type="text" placeholder="Rechercher">
				</div>
			</td>
			<td class="table-body-row-cell">
				<div class="textfield mod-search mod-block">
					<input class="textfield-input" type="text" placeholder="Rechercher">
				</div>
			</td>
		</tr>
		<tr class="table-body-row">
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell">Contenu</td>
		</tr>
	</tbody>
</table>
