<table class="table">
	<thead class="table-head">
		<tr class="table-head-row">
			<th class="table-head-row-cell">Label</th>
			<th class="table-head-row-cell">Label</th>
			<th class="table-head-row-cell">Label</th>
			<th class="table-head-row-cell mod-actions"></th>
		</tr>
	</thead>
	<tbody class="table-body">
		<tr class="table-body-row">
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell mod-actions">
				<button class="actionIcon"><i class="lucca-icon">edit</i></button>
				<button class="actionIcon"><i class="lucca-icon">trash</i></button>
			</td>
		</tr>
		<tr class="table-body-row">
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell mod-actions">
				<button class="actionIcon"><i class="lucca-icon">edit</i></button>
				<button class="actionIcon"><i class="lucca-icon">trash</i></button>
			</td>
		</tr>
		<tr class="table-body-row">
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell">Contenu</td>
			<td class="table-body-row-cell mod-actions">
				<button class="actionIcon"><i class="lucca-icon">edit</i></button>
				<button class="actionIcon"><i class="lucca-icon">trash</i></button>
			</td>
		</tr>
	</tbody>
</table>
