<a class="header-logo" routerLink="/"></a>

<pri-search class="mod-inline"></pri-search>
<button class="header-toggleNav" (click)="showResponsiveMenu = !showResponsiveMenu"></button>

<nav class="header-nav" [class.is-open]="showResponsiveMenu">
	<a class="header-nav-item" [routerLinkActive]="['is-active']" routerLink="/principles">Principes</a>
	<a class="header-nav-item" target="_blank" rel="noopener" href="https://design.lucca.fr/">Identité Marque <span aria-hidden="true" class="lucca-icon icon-outside size-small"></span><span class="u-mask">le lien va s'ouvrir dans une nouvelle page</span></a>
	<a class="header-nav-item" [routerLinkActive]="['is-active']" routerLink="/components">Composants</a>
</nav>
