<div class="table mod-clickable">
	<div class="table-head">
		<div class="table-head-row">
			<div class="table-head-row-cell">Label</div>
			<div class="table-head-row-cell">Label</div>
			<div class="table-head-row-cell">Label</div>
		</div>
	</div>
	<div class="table-body">
		<a href="#" class="table-body-row">
			<div class="table-body-row-cell">Contenu</div>
			<div class="table-body-row-cell">Contenu</div>
			<div class="table-body-row-cell">Contenu</div>
		</a>
		<a href="#" class="table-body-row">
			<div class="table-body-row-cell">Contenu</div>
			<div class="table-body-row-cell">Contenu</div>
			<div class="table-body-row-cell">Contenu</div>
		</a>
		<a href="#" class="table-body-row">
			<div class="table-body-row-cell">Contenu</div>
			<div class="table-body-row-cell">Contenu</div>
			<div class="table-body-row-cell">Contenu</div>
		</a>
	</div>
</div>
