<pri-feature-header [infos]="infos">
	<ng-content></ng-content>
</pri-feature-header>
<section class="page-content">
	<div class="grid">
		<div class="grid-xxl8">
			<section id="guidelines" class="contentSection u-animatedFadeIn">
				<h1>Fonctionnement</h1>
				<markdown [src]="infos.guidelines"></markdown>
			</section>
			<section id="theme" class="contentSection u-animatedFadeIn">
				<h1>Parcourir les thèmes</h1>
				<div class="textfield">
					<lu-select [(ngModel)]="selectedTheme" class="textfield-input">
						<span *luDisplayer="let theme">{{theme.name}}</span>
						<lu-option-picker-advanced>
							<lu-option-feeder [options]="themesList"></lu-option-feeder>
							<lu-option-searcher [searchFn]="searchFn"></lu-option-searcher>
							<lu-option-pager></lu-option-pager>
							<lu-option *luForOptions="let theme; trackBy: trackBy" [value]="theme">{{theme.name}}</lu-option>
						</lu-option-picker-advanced>
					</lu-select>
				</div>
				<pri-theme *ngIf="selectedTheme" [documentation]="selectedTheme"></pri-theme>
			</section>
		</div>
	</div>
</section>

