<div class="grid">
	<div class="grid-xs6">
		<div class="grid-demo">grid-xs6</div>
	</div>
	<div class="grid-xs6">
		<div class="grid-demo">grid-xs6</div>
	</div>
</div>
<div class="grid">
	<div class="grid-sm4">
		<div class="grid-demo">grid-sm4</div>
	</div>
	<div class="grid-sm8">
		<div class="grid-demo">grid-sm8</div>
	</div>
</div>
<div class="grid">
	<div class="grid-md7">
		<div class="grid-demo">grid-md7</div>
	</div>
	<div class="grid-md5">
		<div class="grid-demo">grid-md5</div>
	</div>
</div>
<div class="grid">
	<div class="grid-lg3 grid-md6">
		<div class="grid-demo">grid-lg3 grid-md6</div>
	</div>
	<div class="grid-lg3 grid-md6">
		<div class="grid-demo">grid-lg3 grid-md6</div>
	</div>
	<div class="grid-lg3 grid-md6">
		<div class="grid-demo">grid-lg3 grid-md6</div>
	</div>
	<div class="grid-lg3 grid-md6">
		<div class="grid-demo">grid-lg3 grid-md6</div>
	</div>
</div>
