@import "~@lucca-front/scss/src/theming.overridable";
@import "~@lucca-front/scss/src/mixins";
.navSide {
	position: relative;
	height: 35vh;
}

.grid .navSide-item, .grid .navSide-item-placeholder {
	// background: _component("navSide.fullwidth-palette.bg-color");
	background: _color("primary", "dark");
	// width: _component("navSide.width");
	width: 15rem;
}

.grid .mod-compact {
	.navSide-item, .navSide-item-placeholder {
		// background: _component("navSide.compact-palette.bg-color");
		background: _color("primary", "dark");
		// width: _component("navSide.compact.width");
		width: 6.125rem;
		text-align: center;
	}

	.navSide-item-link {
		// color: _component("navSide.compact-palette.text");
		color: white;
		flex-direction: column;
		// font-size: _component("navSide.compact.font-size");
		font-size: _theme("sizes.small.font-size");
		justify-content: center;
		position: relative;

		.navSide-item-link-title {
			margin: .8em 0 0;
		}
	}

	.navSide-item-alert {
		padding: 0 .4em;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.navSide-item-placeholder {
		flex-direction: column;
		&::before {
			height: 1.5em;
			width: 1.5em;
		}
		&::after {
			margin-left: 0;
			margin-top: .8em;
			width: 100%;
		}
	}
}

