<div class="grid">
  <div class="grid-md4">
    <img class="home-contentIllu" src="/assets/lucca-archi.png">
  </div>
  <div class="grid-mdOffset1 grid-md7">
    <h1 class="u-marginTopBig">Nos ressources sont à votre disposition</h1>
    <p class="home-description">
			Nous sommes à votre écoute pour faire évoluer nos outils et les adapter à vos besoins.
		</p>
    <pri-tool [tool]="figma"></pri-tool>
    <pri-tool [tool]="github"></pri-tool>
    <pri-tool [tool]="ressources"></pri-tool>
  </div>
</div>
