<pri-feature [infos]="infos">
	<p class="header-description">
		Le mode <span>framed</span> est une mise en forme particulière des différents éléments de formulaire.<br> Dans ce mode, <code
		 class="code">form-group</code> est divisé en plusieurs lignes, appelées <code class="code">form-group-line</code>.<br> Ces
		lignes sont ensuite être divisées en colonnes grâce aux classes <code class="code">form-group-line-col</code>.
		Leurs largeurs sont alors automatiques, mais il est possible de les modifier avec des modificateurs tels
		<code class="code">mod-xs6</code> ou <code class="code">mod-lg4</code>).</p>
</pri-feature>
