<pri-feature [infos]="infos">
	<p class="header-description">
		Le mode <i>Framed</i> est une mise en forme particulière des différents éléments de formulaire.<br> Dans ce mode, <code
		 class="code">form-group</code> est divisé en plusieurs lignes, appelées <code class="code">form-group-line</code>.<br> Ces
		lignes peuvent ensuite être divisées grâce aux classes <code class="code">form-group-line-*</code> (ex. <code class="code">form-group-line-xs6</code>	ou
		<code class="code">form-group-line-lg4</code>).</p>
</pri-feature>
