$palettes: (
	"primary": (
		"color": #5979a6,
		"text": #FFFFFF,

		"dark": #315281,
		"darker": #243d60,
		"light":  #88a0c3,
		"lighter":  #b6cae7,
		"lightest": #d5e2f6,
		"see-through": #e1ebf9,

		"50": #e1ebf9,
		"100": #d5e2f6,
		"200": #c6d7f1,
		"300": #b6cae7,
		"400": #a4bada,
		"500": #88a0c3,
		"600": #7490b9,
		"700": #5979a6,
		"800": #315281,
		"900": #243d60,
	),
	"secondary": (
		"color": #FFB900,
		"text": #FFFFFF,

		"dark":#faa200,
		"darker":  #eb7900,
		"light":  #fad36b,
		"lighter": #fde9b4,
		"lightest": #fff4d6,
		"see-through": #fff8e5,

		"50": #fff8e5,
		"100": #fff4d6,
		"200": #fdefc9,
		"300": #fde9b4,
		"400": #fbda83,
		"500": #fad36b,
		"600": #ffca3d,
		"700": #ffb900,
		"800": #faa200,
		"900": #eb7900,
	),
	"lucca": (
		"color": #FFB900,
		"text": #FFFFFF,
		"dark": #faa200,
		"darker": #eb7900,
		"light":  #fad36b,
		"lighter": #fde9b4,
		"lightest": #fff4d6,
		"see-through": #fff8e5,

		"50": #fff8e5,
		"100": #fff4d6,
		"200": #fdefc9,
		"300": #fde9b4,
		"400": #fbda83,
		"500": #fad36b,
		"600": #ffca3d,
		"700": #ffb900,
		"800": #faa200,
		"900": #eb7900,
	),
	"info": (
		"color": #0f98d0,
		"text": #FFFFFF,

		"dark": #0a719b,
		"darker": #05374b,
		"light": #38b9ed,
		"lighter": #9bdcf7,
		"lightest": #e3f6fd,
		"see-through": #f3fbfe,

		"50": #f3fbfe,
		"100": #e3f6fd,
		"200": #b8dfff,
		"300": #9bdcf7,
		"400": #7ad0f4,
		"500": #38b9ed,
		"600": #12a3df,
		"700": #0f98d0,
		"800": #0a719b,
		"900": #05374b,
	),
	"grey": (
		"color": #405777,
		"text": #FFFFFF,

		"dark": #2a3e5a,
		"darker": #14253e,
		"light": #88a0c3,
		"lighter": #bacde8,
		"lightest": #dde8f8,
		"see-through": #eaf1fb,

		"50": #eaf1fb,
		"100": #dde8f8,
		"200": #ceddf3,
		"300": #bacde8,
		"400": #a6bddd,
		"500": #88a0c3,
		"600": #7189ad,
		"700": #405777,
		"800": #2a3e5a,
		"900": #14253e,
	)
);

$colors: (
	text: (
		"dark": (
			color: desaturate(darken(#88a0c3, 37%), 25%)
		),
		"default": (
			color: desaturate(darken(#88a0c3, 23%), 25%)
		),
		"light": (
			color: desaturate(lighten(#88a0c3, 2%), 20%)
		),
		"placeholder": (
			color: desaturate(lighten(#88a0c3, 10%), 20%)
		),
	),
);
$theme: _set($theme, "palettes", $palettes);
$theme: _set($theme, "colors", $colors);
